{% extends 'base.html' %}


{% block content %}
<table class="table table-striped table-bordered text-centered table-hover">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">24h High</th>
        <th scope="col">24h Low</th>
        <th scope="col">Market Cap</th>
        </tr>
    </thead>
    <tbody>
        {% for k,v in crypto.DISPLAY.items %}
            <tr>
            <td>{{ k }}</td>
            <td>{{ v.USD.PRICE }}</td>
            <td>{{v.USD.HIGHDAY }}</td>
            <td>{{v.USD.LOWDAY }}</td>
            <td>{{v.USD.MKTCAP }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<script type="text/javascript">
    baseUrl = "https://widgets.cryptocompare.com/";
    var scripts = document.getElementsByTagName("script");
    var embedder = scripts[ scripts.length - 1 ];
    var cccTheme = {"General":{"background":"#333","borderColor":"#545454","borderRadius":"4px 4px 0 0"},"Header":{"background":"#000","color":"#FFF"},"Followers":{"background":"#f7931a","color":"#FFF","borderColor":"#e0bd93","counterBorderColor":"#fdab48","counterColor":"#f5d7b2"},"Data":{"priceColor":"#FFF","infoLabelColor":"#CCC","infoValueColor":"#CCC"},"Chart":{"animation":true,"fillColor":"rgba(86,202,158,0.5)","borderColor":"#56ca9e"},"Conversion":{"background":"#000","color":"#999"}};
    (function (){
    var appName = encodeURIComponent(window.location.hostname);
    if(appName==""){appName="local";}
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    var theUrl = baseUrl+'serve/v1/coin/chart?fsym={{quote}}&tsym=USD';
    s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    embedder.parentNode.appendChild(s);
    })();
</script>
    
{% endblock  %}
    